html,body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
#container{
  position: absolute;
  top: 10px;
  color: greenyellow;
 transform: translate rotate3d( 10px 10px 10px);
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-family:Georgia, 'Times New Roman';
  border-radius: 20px;
  overflow: hidden;
  border: greenyellow 2px solid;
  padding-left:3px ;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style:dotted;
  
}
#container:hover{
  text-shadow: greenyellow 20px 0 20px;
  transition: text-shadow cubic-bezier(0.165, 0.84, 0.44, 1) ease-in-out;
  transform:rotateX('360deg') ;
}




/* From Uiverse.io by dexter-st */ 
.btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 6px;
  border-radius: 16px;
  background-color: #000;
  box-shadow:
    0 1.5px #ffffff2b,
    inset 0 0 2px #00000014;
  transition: box-shadow 200ms ease-in-out;
}

.btn-wrapper::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  transform: rotate(15deg);
  box-shadow: -20px 0 100px 10px #fff9;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  background:
    radial-gradient(circle at 50% -100%, #7f8f9b99 0%, #0001 75%),
    conic-gradient(
        #ffffff14 0.25turn,
        #ffffff20 0.25turn 0.5turn,
        #ffffff14 0.5turn 0.75turn,
        #ffffff20 0.75turn
      )
      top left / 4px 4px repeat,
    #010405;
  box-shadow:
    inset 0.5px 0.5px #ffffff7d,
    inset 0 0 1px 2px #0009,
    inset 0 0 6px #ffffff96,
    inset 0 -2px #1a1a1a,
    0 3px 2px #0000001f,
    0 7px 5px #00000021,
    4px 13px 10px #00000024,
    10px 22px 18px #00000024,
    20px 42px 33px #00000026,
    60px 50px 80px #00000026,
    0 3px 3px #0000001a;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
}

.btn-icon {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  gap: 3px;
  margin: 5px;
  border-radius: 5px;
  background-color: #8c8c8c;
  transform-origin: center center;
  transition:
    aspect-ratio 150ms ease-in-out,
    background-color 200ms ease-in-out,
    box-shadow 200ms ease-in-out,
    transform 150ms ease-in-out;
  box-shadow: inset 0 1px 0 0 #fff5;
}

.pixel {
  width: 3px;
  height: 3px;
  background-color: #fff2;
  border-radius: 1px;
  transition:
    background-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
}

.pixel:nth-child(9),
.pixel:nth-child(10),
.pixel:nth-child(11),
.pixel:nth-child(17),
.pixel:nth-child(18),
.pixel:nth-child(19),
.pixel:nth-child(25),
.pixel:nth-child(26),
.pixel:nth-child(27),
.pixel:nth-child(31),
.pixel:nth-child(32),
.pixel:nth-child(33),
.pixel:nth-child(37),
.pixel:nth-child(38),
.pixel:nth-child(39) {
  background-color: #fff8;
  animation: pulse 1.2s infinite ease-in-out;
}

.pixel:nth-child(9) {
  animation-delay: 0s;
}
.pixel:nth-child(10) {
  animation-delay: 0.1s;
}
.pixel:nth-child(11) {
  animation-delay: 0.2s;
}
.pixel:nth-child(17) {
  animation-delay: 0.1s;
}
.pixel:nth-child(18) {
  animation-delay: 0.2s;
}
.pixel:nth-child(19) {
  animation-delay: 0.3s;
}
.pixel:nth-child(25) {
  animation-delay: 0.2s;
}
.pixel:nth-child(26) {
  animation-delay: 0.3s;
}
.pixel:nth-child(27) {
  animation-delay: 0.4s;
}
.pixel:nth-child(31) {
  animation-delay: 0.1s;
}
.pixel:nth-child(32) {
  animation-delay: 0.2s;
}
.pixel:nth-child(33) {
  animation-delay: 0.3s;
}
.pixel:nth-child(37) {
  animation-delay: 0s;
}
.pixel:nth-child(38) {
  animation-delay: 0.1s;
}
.pixel:nth-child(39) {
  animation-delay: 0.2s;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 3px 1px #fff;
    background-color: #fff;
  }
  50% {
    box-shadow: 0 0 1px 1px #0001;
    background-color: #fff;
  }
}

.btn-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 1px;
  color: #fff;
  font-family: "Montserrat", "Figtree", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  transition:
    text-shadow 150ms ease-in-out,
    color 150ms ease-in-out,
    gap 150ms ease-in-out,
    font-weight 150ms ease-in-out;
  user-select: none;
}

.btn-letter {
  display: inline-block;
  animation: letter-anim 2s infinite ease-in-out;
}

@keyframes letter-anim {
  50% {
    color: #fff6;
  }
}

.btn-letter:nth-child(1) {
  animation-delay: 0s;
}
.btn-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.btn-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.btn-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.btn-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.btn-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.btn-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.btn-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.btn-letter:nth-child(9) {
  animation-delay: 0.8s;
}

#corner-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-24px, -24px) rotate(-90deg);
  transition: transform 150ms ease-in-out;
}

#corner-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(24px, -24px) rotate(0deg);
  transition: transform 150ms ease-in-out;
}

#corner-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(24px, 24px) rotate(90deg);
  transition: transform 150ms ease-in-out;
}

#corner-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-24px, 24px) rotate(180deg);
  transition: transform 150ms ease-in-out;
}

.line {
  fill: #444444;
}

.btn-wrapper:has(.btn:hover) {
  box-shadow:
    0 1.5px #ffffff2b,
    inset 0 0 2px #00000014,
    0 0 4px 3px rgba(245, 255, 211, 0.85) inset,
    0 0 16px 8px rgba(255, 255, 255, 0.1);

  #corner-1 {
    transform: translate(-16px, -16px) rotate(-90deg);
  }
  #corner-2 {
    transform: translate(16px, -16px) rotate(0deg);
  }
  #corner-3 {
    transform: translate(16px, 16px) rotate(90deg);
  }
  #corner-4 {
    transform: translate(-16px, 16px) rotate(180deg);
  }
  .pixel {
    background-color: #fff2;
    animation: none;
  }
  .pixel:nth-child(4),
  .pixel:nth-child(10),
  .pixel:nth-child(11),
  .pixel:nth-child(12),
  .pixel:nth-child(16),
  .pixel:nth-child(18),
  .pixel:nth-child(24),
  .pixel:nth-child(25),
  .pixel:nth-child(26),
  .pixel:nth-child(32),
  .pixel:nth-child(34),
  .pixel:nth-child(37),
  .pixel:nth-child(38),
  .pixel:nth-child(39),
  .pixel:nth-child(40),
  .pixel:nth-child(46) {
    animation: pixel-form 250ms ease-in-out forwards;
  }
  .pixel:nth-child(4) {
    animation-delay: 0.05s;
  }
  .pixel:nth-child(10) {
    animation-delay: 0.1s;
  }
  .pixel:nth-child(11) {
    animation-delay: 0.15s;
  }
  .pixel:nth-child(12) {
    animation-delay: 0.2s;
  }
  .pixel:nth-child(16) {
    animation-delay: 0.25s;
  }
  .pixel:nth-child(18) {
    animation-delay: 0.3s;
  }
  .pixel:nth-child(24) {
    animation-delay: 0.35s;
  }
  .pixel:nth-child(25) {
    animation-delay: 0.4s;
  }
  .pixel:nth-child(26) {
    animation-delay: 0.45s;
  }
  .pixel:nth-child(32) {
    animation-delay: 0.5s;
  }
  .pixel:nth-child(34) {
    animation-delay: 0.55s;
  }
  .pixel:nth-child(37) {
    animation-delay: 0.6s;
  }
  .pixel:nth-child(38) {
    animation-delay: 0.65s;
  }
  .pixel:nth-child(39) {
    animation-delay: 0.7s;
  }
  .pixel:nth-child(40) {
    animation-delay: 0.75s;
  }
  .pixel:nth-child(46) {
    animation-delay: 0.8s;
  }
  .btn-letter {
    animation: none;
  }
  .btn-text {
    gap: 3px;
    font-weight: 500;
  }
}

@keyframes pixel-form {
  0% {
    transform: scale(0.2);
    opacity: 0;
    background-color: #fff2;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
    background-color: #fff;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: #acff27;
  }
}

.btn-wrapper:has(.btn:active) {
  box-shadow:
    0 1.5px #ffffff2b,
    inset 0 0 2px #00000014,
    0 0 4px 3px rgba(0, 255, 98, 0.75) inset,
    0 0 32px 2px rgba(0, 255, 98, 0.55);
  #corner-1 {
    transform: translate(-10px, -10px) rotate(-90deg);
  }
  #corner-2 {
    transform: translate(10px, -10px) rotate(0deg);
  }
  #corner-3 {
    transform: translate(10px, 10px) rotate(90deg);
  }
  #corner-4 {
    transform: translate(-10px, 10px) rotate(180deg);
  }
  .btn {
    box-shadow:
      inset 0.5px 0.5px #ffffff7d,
      inset 0 0 1px 2px #0009,
      inset 0 0 6px #ffffff96,
      inset 0 -2px #1a1a1a,
      0 3px 2px #0000001f,
      0 7px 5px #00000021,
      4px 13px 10px #00000024,
      10px 22px 18px #00000024,
      20px 42px 33px #00000026,
      60px 50px 80px #00000026,
      0 3px 3px #0000001a,
      0px 0px 120px #60f1cdaa,
      -4px -4px 8px #c5ff27ee,
      4px 4px 16px #c5ff27ee;
  }
  .line {
    fill: #a1ff2788;
  }
  .btn-text {
    color: #fff;
    text-shadow: 0 0 2px #c5ff27;
    filter: drop-shadow(0 0 2px black);
    gap: 1px;
  }
  .btn-icon {
    box-shadow:
      0 0 5px 0px #7bff0066 inset,
      0 0 16px -6px #fffa;
    animation: none;
  }
  .pixel:nth-child(4),
  .pixel:nth-child(10),
  .pixel:nth-child(11),
  .pixel:nth-child(12),
  .pixel:nth-child(16),
  .pixel:nth-child(18),
  .pixel:nth-child(24),
  .pixel:nth-child(25),
  .pixel:nth-child(26),
  .pixel:nth-child(32),
  .pixel:nth-child(34),
  .pixel:nth-child(37),
  .pixel:nth-child(38),
  .pixel:nth-child(39),
  .pixel:nth-child(40),
  .pixel:nth-child(46) {
    box-shadow:
      0 0 1px 1px #fff8,
      0 0 2px 2px #c5ff27;
  }
}

.btn-wrapper:has(.btn:focus) {
  box-shadow:
    0 1.5px #ffffff2b,
    inset 0 0 2px #00000014,
    0 0 4px 3px rgba(0, 255, 98, 0.75) inset,
    0 0 32px 2px rgba(0, 255, 98, 0.55);

  .btn {
    box-shadow:
      inset 0.5px 0.5px #ffffff7d,
      inset 0 0 1px 2px #0009,
      inset 0 0 6px #ffffff96,
      inset 0 -2px #1a1a1a,
      0 3px 2px #0000001f,
      0 7px 5px #00000021,
      4px 13px 10px #00000024,
      10px 22px 18px #00000024,
      20px 42px 33px #00000026,
      60px 50px 80px #00000026,
      0 3px 3px #0000001a,
      0px 0px 120px #60f1cdaa,
      -4px -4px 8px #c5ff27ee,
      4px 4px 16px #c5ff27ee;
  }
  .line {
    fill: #a1ff2788;
  }
  .btn-text {
    color: #fff;
    text-shadow: 0 0 2px #c5ff27;
    filter: drop-shadow(0 0 2px black);
    gap: 1px;
  }
  .btn-icon {
    box-shadow:
      0 0 5px 0px #7bff0066 inset,
      0 0 16px -6px #fffa;
    animation: none;
  }
  .pixel {
    background-color: #fff2;
    animation: none;
  }
  .pixel:nth-child(4),
  .pixel:nth-child(10),
  .pixel:nth-child(11),
  .pixel:nth-child(12),
  .pixel:nth-child(16),
  .pixel:nth-child(18),
  .pixel:nth-child(24),
  .pixel:nth-child(25),
  .pixel:nth-child(26),
  .pixel:nth-child(32),
  .pixel:nth-child(34),
  .pixel:nth-child(37),
  .pixel:nth-child(38),
  .pixel:nth-child(39),
  .pixel:nth-child(40),
  .pixel:nth-child(46) {
    box-shadow:
      0 0 1px 1px #fff8,
      0 0 2px 2px #c5ff27;
    background-color: #c5ff27;
  }
}

.card {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%) scaleY(0) rotateX(-90deg);
  transform-origin: top center;
  min-width: 230px;
  max-width: 260px;
  color: #e1f1ba;
  opacity: 0;
  transition:
    opacity 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 10;
  font-family: "Montserrat", "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  padding: 16px;
  pointer-events: none;
  user-select: none;
}

.card-header {
  text-align: start;
  background: none;
  padding: 0.25em 0;
  border-bottom: 1px solid #444;
  perspective: 150px;
  transform-style: preserve-3d;
}

.card-header::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  border-radius: 3px;
  width: 230px;
  height: 5px;
  background-color: #fff;
  box-shadow:
    0 0 8px 2px #fffc,
    0 5px 36px 14px #48ff00cc;
  filter: drop-shadow(0 5px 38px #54d193) blur(3px);
  transform-origin: top center;
  transition: transform 0.2s ease-in-out;
  transform: rotateX(60deg) scale(1, 1);
}

.card-header span {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 0 0 8px #fff6;
  font-weight: 500;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.btn:focus ~ .card,
.btn:focus-visible ~ .card {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) scaleY(1) rotateX(0deg);
}

.btn-wrapper:has(.btn:focus),
.btn-wrapper:has(.btn:focus-visible) {
  #corner-3 {
    transform: translate(24px, 126px) rotate(90deg);
  }
  #corner-4 {
    transform: translate(-24px, 126px) rotate(180deg);
  }

  .card-header::before {
    animation: bar-anim 0.25s forwards ease-in-out;
  }
}

@keyframes bar-anim {
  0% {
    transform: rotateX(90deg) scale(1.5, 0.8);
  }
  100% {
    transform: rotateX(60deg) scale(1, 1);
  }
}

.btn-wrapper:has(.btn:focus):hover,
.btn-wrapper:has(.btn:focus-visible):hover {
  #corner-3 {
    transform: translate(16px, 120px) rotate(90deg);
  }
  #corner-4 {
    transform: translate(-16px, 120px) rotate(180deg);
  }
}

.btn-wrapper:has(.btn:focus):active,
.btn-wrapper:has(.btn:focus-visible):active {
  #corner-3 {
    transform: translate(10px, 116px) rotate(90deg);
  }
  #corner-4 {
    transform: translate(-10px, 116px) rotate(180deg);
  }
}